.owl-item.active.center > .item1 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item1;
    animation-duration: 1s;
}

.owl-item.active.center > .item2 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item2;
    animation-duration: 1s;

}

.owl-item.active.center > .item3 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item3;
    animation-duration: 1s;

}

.owl-item.active.center > .item4 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item4;
    animation-duration: 1s;

}

.owl-item.active.center > .item5 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item5;
    animation-duration: 1s;

}

.owl-item.active.center > .item6 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item6;
    animation-duration: 1s;

}

.owl-item.active.center > .item7 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item7;
    animation-duration: 1s;

}

.owl-item.active.center > .item8 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item8;
    animation-duration: 1s;

}

.owl-item.active.center > .item9 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item9;
    animation-duration: 1s;

}

.owl-item.active.center > img:hover {
	/*height: 57vh;*/
	max-width: 22em !important;
	transform: rotate(1deg);
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
	display:none;
	color: blue;
	z-index: -1;
	transition: left 0.5s, transform 0.5s;
	transition-delay: 1s;
	background-color: ;
	animation-fill-mode: forwards;
}
.transitionI{
	transition: transform 0.5s;
}
@keyframes item1 {
    from {
        margin-left:20em;
		margin-top: 20em;
    }
    to {
		margin-left:-5em;
		margin-top: 20em;
		transform: rotate(-10deg);
	}
}

@keyframes item2 {
    from {
        margin-left:10em;
		margin-top: 20em;
    }
    to {
		margin-left:30em;
		margin-top: 22em;
		transform: rotate(10deg);
     }
}

@keyframes item3 {
    from {
        margin-left:20em;
		margin-top: 20em;
    }
    to {
		margin-left:-8em;
		margin-top: 10em;
		transform: rotate(-10deg);
     }
}

.item4 img:hover{
	
	transform: rotate(-10deg);
}

@keyframes item4 {
    from {
        margin-left:10em;
		margin-top: 20em;
    }
    to {
		margin-left:-10em;
		margin-top: 15em;
		transform: rotate(-10deg);
     }
}

.item5 img:hover{
	transform: rotate(-10deg);
}

@keyframes item5 {
    from {
        margin-left:10em;
		margin-top: 10em;
    }
    to {
		margin-left:-3em;
		margin-top: 2em;
		transform: rotate(-8deg);
     }
}

.item6 img:hover{
	transform: rotate(10deg);
}

@keyframes item6 {
    from {
        margin-left:10em;
		margin-top: 10em;
    }
    to {
		margin-left:25em;
		margin-top: 1em;
		transform: rotate(10deg);
     }
}

.item7 img:hover{
	transform: rotate(10deg);
}

@keyframes item7 {
    from {
        margin-left:10em;
		margin-top: 10em;
    }
    to {
		margin-left:23em;
		margin-top: 25em;
		transform: rotate(10deg);
     }
}

@keyframes item8 {
    from {
        margin-left:10em;
		margin-top: 20em;
    }
    to {
		margin-left:-2em;
		margin-top: 23em;
		transform: rotate(-10deg);
     }
}

.item9 img:hover{
	transform: rotate(10deg);
}

@keyframes item9 {
    from {
        margin-left:10em;
		margin-top: 10em;
    }
    to {
		margin-left:20em;
		margin-top: 11em;
		transform: rotate(10deg);
     }
}
/*
	TO APPLY LATER
	margin-top: -20em;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
*/