html {
	height: 100%;
	min-width: 1500px;
	padding: 0;
	margin: 0;
	position: static;
}

head{
	
}

body{
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#imageC{
	width: 300px;
	height: 400px;
	object-fit: cover; 
}

#page1{
	width: 100%;
	height: 100%;
	background-color: green;
}
#page2{
	padding-top: 10px;
	max-width:auto;
	height: 100%;
	background-color:;
}
.owl-stage-outer{
	position: relative;
	height: 90%;

}
.owl-stage {
	position: absolute;
	top: 15%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.owl-item > img{
	transition: width 0.5s, height 0.5s, transform 0.2s;
	height: 200px;
	object-fit: contain  ; 
	min-height:200px;
	width: 60% !important;
	
} 
.owl-item.cloned > img {
	height: 0vh;
	width: 0vh;
	display:none;
	padding-left:0px;
	content: 'active';	
}
.owl-item.active > img {
	height: 40vh;
	display:none;
	content: 'active';	
}
.owl-item.center > img {
	content: 'center';
	display:none;
}
.owl-item.active.center > img {
	height: 55vh;
	content: 'active center';
}

.owl-item.active.center > .item1 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item1;
    animation-duration: 2s;
}

.owl-item.active.center > .item2 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item2;
    animation-duration: 2s;

}

.owl-item.active.center > .item3 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item3;
    animation-duration: 2s;

}

.owl-item.active.center > .item4 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item4;
    animation-duration: 2s;

}

.owl-item.active.center > .item5 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item5;
    animation-duration: 2s;

}

.owl-item.active.center > .item6 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item6;
    animation-duration: 2s;

}

.owl-item.active.center > .item7 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item7;
    animation-duration: 2s;

}

.owl-item.active.center > .item8 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item8;
    animation-duration: 2s;

}

.owl-item.active.center > .item9 {
	display:block;
	transform: rotate(0deg);
	position: absolute;
	left: 0px;
	top:0px;
	animation-name: item9;
    animation-duration: 2s;

}

.owl-item.active.center > img:hover {
	height: 60vh;
	width: 100%;
	transform: rotate(-3deg);
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
	display:none;
	color: blue;
	z-index: -1;
	transition: left 0.5s, transform 1s;
	transition-delay: 1s;
	background-color: black;
	animation-fill-mode: forwards;
}

.item1:hover {
	background-color:green;
}

@keyframes item1 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-right:10vh;
		margin-top: 10vh;
		transform: rotate(-10deg);
     }
}

@keyframes item2 {
    from {
        margin-left:30vh;
		margin-top: 20vh;
    }
    to {
		margin-left:56vh;
		margin-top: 20vh;
		transform: rotate(10deg);
     }
}

@keyframes item3 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:-5vh;
		margin-top: 40vh;
		transform: rotate(-10deg);
     }
}

@keyframes item4 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:10vh;
		margin-top: 30vh;
		transform: rotate(-10deg);
     }
}

@keyframes item5 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:50vh;
		margin-top: 40vh;
		transform: rotate(10deg);
     }
}

@keyframes item6 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:50vh;
		margin-top: 5vh;
		transform: rotate(-10deg);
     }
}

@keyframes item7 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:55vh;
		margin-top: 33vh;
		transform: rotate(-10deg);
     }
}

@keyframes item8 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:-3vh;
		margin-top: 20vh;
		transform: rotate(-10deg);
     }
}

@keyframes item9 {
    from {
        margin-left:20vh;
		margin-top: 20vh;
    }
    to {
		margin-left:45vh;
		margin-top: 30vh;
		transform: rotate(10deg);
     }
}